
/* General Styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    background-color: #234183;
    color: #bbd1ff;
}

h1 {
    color: #e0eaff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #112755;
    padding: 0px 20px;
    position: sticky;
    top: 0;
    border-bottom: 2px solid #1c222e;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 2px;
    position: relative;
}

.nav-links a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    padding: 16px 16px;
    background-color: #1c3d81;
    border: 1px solid #3a5ba0;
    transition: 0.3s;
}

.nav-links a:hover {
    background-color: #2a5bbd;
    border-color: #4fb0ff;
    box-shadow: 0 0 10px #4fb0ff;
}

.chap-nav {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 100px;
    font-size: 1.2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.external-links:link, .external-links:hover {
    color: #4fb0ff;
}

.external-links:active {
    color: #19578a;
}

.external-links:visited {
    color: #2a7bbd;
}

.internal-links:link, .internal-links:hover {
    color: #a8cfff;
}

.internal-links:active {
    color: #5a8ebf;
}

.internal-links:visited {
    color: #7faedc;
}

/* Dropdown Menu Logic */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #222;
    min-width: 150px;
    top: 100%;
    left: 0;
    list-style: none;
    padding: 20px;
    border: 1px solid #444;
    text-align: center;
}

.dropdown:hover .dropdown-content {
    display: block;
    margin: 16px 0;
}

.dropdown-content li {
    margin: 38px 0;
}

/* Main Content Padding */
.content {
    padding: 40px;
    max-width: 1700px;
    margin: auto;
    line-height: 1.6;
    text-shadow: 0 0 5px #001b55;
}

/* ######################
# Story-Specific Styles #
###################### */

/* Chapter Text Styles */

.text-content p {
    padding-left: 160px;
    padding-right: 180px;
    text-indent: 40px;
    margin-bottom: 1.5rem;
    line-height: 1.8;
    text-align: justify;
    font-family:'Times New Roman', Times, serif;
    font-size: 25px;
}

.chap-title {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 2.5rem;
    font-family:'Times New Roman', Times, serif;
    text-shadow: 0 0 10px #001b55;
}

/* Story Element Colors */

i {
    color: #c4c9d3;
}

.dialogue {
    color: #c9c0b5;
}

.neutral-name {
    color: #ffffff;
}

.location {
    color: #8572db;
    text-shadow: 0 0 10px #35296b;
}

.white-eyes {
    color: #ff4b4b;
    text-shadow: 0 0 5px #ffffff;
}

.lb {
    color: #fffec6;
}

.lb-vice-cap {
    color: #fffc61;
    text-shadow: 0 0 5px #9e7bac;
}

.lightbringers {
    color: #fbff00;
    text-shadow: 0 0 15px #a200ff;
}

/* Special Effects */

.impact {
    color: #ff6f61;
    font-weight: bold;
    text-shadow: 0 0 3px #490c0c;
}

/* Magics */

.nova-plasma-magic {
    color: #ffecea;
    text-shadow: 0 0 10px #ff2c1d;
}